body {
  padding: 100px;
  background: url(BankBack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.submit-area {
  background-color: rgb(232, 243, 243);
  margin-top: 50px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

#transaction-area {
  display: none;
}

.status {
  margin: 0 20px;
  padding: 20px;
  border-radius: 10px;
}

.deposit {
  background-color: lightblue;
}

.withdraw {
  background-color: lightgreen;
}

.balance {
  background-color: lightcoral;
}
